@model List<Shop.Entities.Item>

@{
    ViewData["Title"] = "Home Page";
}

        <h1>Latest items</h1>

<br/>

 <div class="row">
    
             @foreach(var item in Model)
                {
                    <div class="col-md-6 col-lg-4 item">
                    <form asp-action="item" asp-controller="Shop" asp-route-id="@item.Id" > 
                        <button type="submit" class="border border-white">
                    
            
                            <div class="image">
                                <img src="@item.Images.ElementAt(item.Miniature).Path" alt="">
                            </div>
                            <hr />
                
                            <div class="item-details">
                                <h5>@item.Name</h5>
                    
                                <div class="shorDescription">
                                    @item.ShortDescription
                                </div>
                                <div><strong> Price: </strong> @item.Price</div>
                                <div><strong> Ammount: </strong> @item.Ammount</div>
                                <div><strong>Seller: </strong><a>@item.User.LastName @item.User.FristName</a></div>
                            </div>
            
                      
                     </button>
                </form>
                </div>
             }
               
      
  
</div>
